/* css general */
.color {
	background-color: #2B62A2;
 }
 .color-word {
 	color: white;
 }
.colorbutton {
    color: white;
}
.headerNav {
    padding: 0px 20px 0px 0px;
    position: sticky;
}
.row {
    margin: auto;
    padding: auto;
}
.btn-outline-success {
    border-color: white;
}
.margen {
    margin: 0px 5px;
}
.img-ajust {
    width: 25px ;
    height: auto;
}
.col-lg-12 {
    padding: 0px !important;
    margin: 0px;
} 
.col-xs-12 {
    padding: 0px !important;
    margin: 0px;
}
.container-fluid { 
    padding-right: 15px;
    padding-left: 15px;  
    margin-right: auto; 
    margin-left: auto;
    background-color: #2B62A2;
}
.headerNav {
    position: sticky;
    z-index: 9999;
    top: 0;
}
.text {
    text-align: center;
    list-style: none;
}
h3 {
    text-align: center;
}
.container-boton{
    background-color: white;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 2px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}
.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.boton{
    width: 50px;
    transition: ease 1s;
}
.firma {
    text-align: center;
    font-size: 15px;
}
.firma {
    padding: 60px 0px 3px 0px;
}
.container-boton2:hover{
    transform: scale(2.2);
    transform: rotate(60deg);
    transition: 0.5s;
}
.boton2 {
    width: 40px;
    height: 40px;
    padding: 10px 0px auto 0px;
    margin: 1px 40px 0px 150px;
}
.tam-logo {
    width: 35px;
    height: 35px;
}
.medText {
    padding: 4px;
    margin: 0px 35px 0px 0px;
    text-align: center;
}
.text2 {
    padding: 0px auto;
    margin: auto;
}
.medFooter {
    padding: 50px 0px 0px 0px;
}
 /* css producto */
 .container-fluid {
    padding: 0;
 }
 .text {
    text-align: center;
 }
 .color-pro {
    background-color: white;
 }
 .descripcion {
    text-align: center;
    tex
 }
 .img-fluid {
    
 }
 /* css nosotros */
 .text {
    padding: 30px 0px;
 }
 .text-nos {
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-weight: bold;
    background-color: rgba(43, 98, 162,.8);
 }
 .img-taller {
   padding: 15px 0px 15px 200px;
 }
 .parr-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 40px 10px;
 }
 /* css contacto */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box {
    width: 400px;
    padding: 40px;
    margin: 20px auto 20px auto;
    background: rgba(0, 0, 0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0,.5);
    border-radius: 10px;
}
.box h2 {
    margin: 0px 0px 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .input {
    position: relative;
}
.box .inputBox label {
    top: 0;
    left: 0;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input {
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -18px;
    left: 0px;
    color: #2B62A2;
    font-size: 12px;
}
.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #2B62A2;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}